<app-validation-error *ngIf="validationError" [error]="validationError">
</app-validation-error>
<form (ngSubmit)="save.emit()" #comparatorForm="ngForm">
  <div class="row">
    <div class="col-sm-4 form-group">
      <label for="comparator-kind">Type</label>
      <select class="form-control" id="comparator-kind"
              required [(ngModel)]="comparator.kind" name="kind">
        <option></option>
        <option value="compare">Generic comparison</option>
        <option value="strcompare">String comparison</option>
        <option value="within">Within range</option>
      </select>
    </div>
  </div>
  <ng-template [ngIf]="comparator.kind == 'compare'">
    <div class="row">
      <div class="col-sm-2 form-group">
        <label for="comparator-operation">Operator</label>
        <select class="form-control" id="comparator-operation"
                required [(ngModel)]="comparator.options.operation" name="operation">
          <option></option>
          <option value="equal">==</option>
          <option value="not_equal">!=</option>
          <option value="greater_than">&gt;</option>
          <option value="greater_than_or_equal">&gt;=</option>
          <option value="less_than">&lt;</option>
          <option value="less_than_or_equal">&lt;=</option>
        </select>
      </div>
    </div>
    <ng-template [ngIf]="comparator.options.operation">
      <h3>Fields</h3>
      <div class="row" *ngFor="let set of comparator.sets; let i = index">
        <div class="col-sm-3 form-group">
          <label for="comparator-set-{{i}}-field1">
            Field from Dataset 1 ({{linkage.dataset1.name}})
          </label>
          <select class="form-control" id="comparator-set-{{i}}-field1"
            required [(ngModel)]="set.field1" name="set-{{i}}-field1">
            <option></option>
            <option *ngFor="let field of linkage.dataset1.fields" [value]="field.name">
              {{field.name}} ({{field.type}})
            </option>
          </select>
        </div>
        <div class="col-sm-3 form-group">
          <label for="comparator-set-{{i}}-field2">
            Field from Dataset 2 ({{linkage.dataset2.name}})
          </label>
          <select class="form-control" id="comparator-set-{{i}}-field2"
            required [(ngModel)]="set.field2" name="set-{{i}}-field2">
            <option></option>
            <option *ngFor="let field of linkage.dataset2.fields" [value]="field.name">
              {{field.name}} ({{field.type}})
            </option>
          </select>
        </div>
        <div class="col-sm-1 form-group" *ngIf="comparator.sets.length > 1">
          <label>&nbsp;</label>
          <button type="button" class="btn btn-secondary align-bottom" (click)="removeRow(i)">
            <i class="fa fa-minus-circle"></i> Remove
          </button>
        </div>
      </div>
      <div *ngIf="comparatorForm.form.valid">
        <button type="button" class="btn btn-secondary" (click)="addComparison()">
          <i class="fa fa-plus-circle"></i> Add comparison
        </button>
      </div>
    </ng-template>
  </ng-template>
  <ng-template [ngIf]="comparator.kind == 'strcompare'">
    <div class="row">
      <div class="col-sm-2 form-group">
        <label for="comparator-operation">Operation</label>
        <select class="form-control" id="comparator-operation"
                required [(ngModel)]="comparator.options.operation" name="operation">
          <option></option>
          <option value="jarowinkler">Jaro-Winkler</option>
          <option value="reverse_jarowinkler">Reverse Jaro-Winkler</option>
          <option value="damerau_levenshtein">Damerau-Levenshtein</option>
        </select>
      </div>
    </div>
    <ng-template [ngIf]="comparator.options.operation">
      <h3>Fields</h3>
      <div class="row" *ngFor="let set of comparator.sets; let i = index">
        <div class="col-sm-3 form-group">
          <label for="comparator-set-{{i}}-field1">
            Field from Dataset 1 ({{linkage.dataset1.name}})
          </label>
          <select class="form-control" id="comparator-set-{{i}}-field1"
            required [(ngModel)]="set.field1" name="set-{{i}}-field1">
            <option></option>
            <option *ngFor="let field of linkage.dataset1.fields" [value]="field.name">
              {{field.name}} ({{field.type}})
            </option>
          </select>
        </div>
        <div class="col-sm-3 form-group">
          <label for="comparator-set-{{i}}-field2">
            Field from Dataset 2 ({{linkage.dataset2.name}})
          </label>
          <select class="form-control" id="comparator-set-{{i}}-field2"
            required [(ngModel)]="set.field2" name="set-{{i}}-field2">
            <option></option>
            <option *ngFor="let field of linkage.dataset2.fields" [value]="field.name">
              {{field.name}} ({{field.type}})
            </option>
          </select>
        </div>
      </div>
    </ng-template>
  </ng-template>
  <ng-template [ngIf]="comparator.kind == 'within'">
    <h3>Fields</h3>
    <div class="row" *ngFor="let set of comparator.sets; let i = index">
      <div class="col-sm-3 form-group">
        <label for="comparator-set-{{i}}-field1">
          Field from Dataset 1 ({{linkage.dataset1.name}})
        </label>
        <select class="form-control" id="comparator-set-{{i}}-field1"
          required [(ngModel)]="set.field1" name="set-{{i}}-field1">
          <option></option>
          <option *ngFor="let field of linkage.dataset1.fields" [value]="field.name">
            {{field.name}} ({{field.type}})
          </option>
        </select>
      </div>
      <div class="col-sm-3 form-group">
        <label for="comparator-set-{{i}}-field2">
          Field from Dataset 2 ({{linkage.dataset2.name}})
        </label>
        <select class="form-control" id="comparator-set-{{i}}-field2"
          required [(ngModel)]="set.field2" name="set-{{i}}-field2">
          <option></option>
          <option *ngFor="let field of linkage.dataset2.fields" [value]="field.name">
            {{field.name}} ({{field.type}})
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-2">
        <label for="comparator-within-value">Value</label>
        <input type="number" class="form-control" id="comparator-within-value"
          required [(ngModel)]="comparator.options.value" name="option-value">
      </div>
    </div>
  </ng-template>
  <div class="mt-5 mb-2">
    <button type="submit" class="btn btn-primary mr-2"
            [disabled]="!comparatorForm.form.valid || !comparatorForm.dirty">
      <i class="fa fa-save"></i> Save
    </button>
    <button *ngIf="canCancel" type="button" class="btn btn-secondary mr-2"
      (click)="doCancel()">
      <i class="fa fa-ban"></i> Cancel
    </button>
    <button *ngIf="canDelete" type="button" class="btn btn-danger"
      (click)="confirm('Are you sure?') && delete.emit()">
      <i class="fa fa-trash"></i> Delete
    </button>
  </div>
</form>
