#main {
  padding: 10px;
}

#sidebar {
  background: url(/assets/images/sidebar-bottom-main.png)   bottom center no-repeat,
              url(/assets/images/sidebar-bottom-right.png)  bottom right  no-repeat,
              url(/assets/images/sidebar-bottom-left.png)   bottom left   no-repeat,
              url(/assets/images/sidebar-bottom-middle.png) bottom        repeat-x,
              url(/assets/images/sidebar.png) right repeat-y,
              #383538;
  min-height: 500px;
  height: 95vh;
  color: white;
  padding: 10px 20px;
}

#sidebar a {
  color: lightblue;
}

#sidebar ul {
  padding: 5px 20px;
  list-style-type: square;
}

#sidebar ul li {
  padding: 5px;
}

#sidebar a.active {
  font-weight: bold;
}
