<app-client-error *ngIf="clientError" [error]="clientError">
</app-client-error>
<ng-template [ngIf]="job">
  <h2>Job #{{job.id}}</h2>

  <p class="mb-3">
    <strong>Type:</strong> {{job.kind}}
  </p>
  <p>
    <strong>Status:</strong> {{job.status}}
    <i *ngIf="!job.isStopped()" class="fa fa-cog fa-spin" style="font-size: larger"></i>
  </p>
  <p>
    <strong>Started at:</strong>
    <ng-template [ngIf]="job.startedAt" [ngIfElse]="jobNotStarted">
      {{job.startedAt | date:"short"}}
    </ng-template>
    <ng-template #jobNotStarted>
      Not yet started
    </ng-template>
  </p>
  <p *ngIf="job.endedAt">
    <strong>Ended at:</strong> {{job.endedAt | date:"short"}}
  </p>
  <p *ngIf="job.error">
    <strong>Error:</strong> {{job.error}}
  </p>

  <ng-template [ngIf]="linkage">
    <h3>Linkage</h3>
    <app-linkages-list [linkages]="[linkage]">
    </app-linkages-list>
  </ng-template>

  <ng-template [ngIf]="migration">
    <h3>Migration</h3>
    <app-migrations-list [migrations]="[migration]">
    </app-migrations-list>
  </ng-template>

  <ng-template [ngIf]="linkageResult">
    <h3>Results</h3>
    <app-linkage-results-list [linkageResults]="[linkageResult]">
    </app-linkage-results-list>
  </ng-template>

  <ng-template [ngIf]="dataset">
    <h3>Dataset</h3>
    <app-datasets-list [datasets]="[dataset]">
    </app-datasets-list>
  </ng-template>

  <p *ngIf="datasetExport">
    <a [href]="downloadDatasetExportUrl()">Download exported dataset</a>
  </p>

  <button type="button" class="btn btn-secondary mt-2" (click)="goBack()">
    <i class="fa fa-chevron-left"></i> Back
  </button>
</ng-template>
