<ng-template [ngIf]="job">
  <h2>Linkage: {{linkage.name}}, Job {{job.id}}</h2>

  <table>
    <thead>
      <tr>
        <th>Status</th>
        <th>Started At</th>
        <th>Ended At</th>
        <th *ngIf="job.error">Error</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{job.status}}</td>
        <td>{{job.startedAt | date:"yMdjm"}}</td>
        <td>{{job.endedAt | date:"yMdjm"}}</td>
        <td *ngIf="job.error">{{job.error}}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="job.linkageResult" class="results">
    <h3>Results</h3>
    <p>
      <strong>Number of matches:</strong>
      {{job.linkageResult.matchCount}}
    </p>

    <app-linkage-result-detail
      [linkageResult]="job.linkageResult"
      [linkage]="linkage">
    </app-linkage-result-detail>
  </div>

  <button type="button" class="btn btn-secondary" (click)="goBack()">Back</button>
</ng-template>
