<div class="d-flex flex-row list">
  <div *ngFor="let comparator of linkage.comparators"
    class="d-flex flex-column list-element"
    (click)="gotoDetail(comparator.id)">
    <div>
      <strong>Type:</strong> {{comparator.kindDescription()}}
    </div>
    <div *ngIf="comparator.kind == 'compare' || comparator.kind == 'strcompare'">
      <strong>Operation:</strong> {{comparator.operationDescription()}}
    </div>
    <div>
      <strong>Field pairs:</strong> {{comparator.setsDescription()}}
    </div>
  </div>
</div>
<p *ngIf="linkage.comparators && linkage.comparators.length == 0">
  There are currently no comparators.
</p>
