<div class="d-flex flex-row list">
  <div *ngFor="let comparator of linkage.comparators"
    class="d-flex flex-column list-element"
    (click)="gotoDetail(comparator.id)">
    <div><strong>Kind:</strong> {{comparator.kind}}</div>
    <div *ngIf="comparator.kind == 'compare'">
      <strong>Operator:</strong> {{comparator.options.operation}}
    </div>
    <div class="set">
      <strong>Set 1:</strong> {{set1(comparator)}}
    </div>
    <div class="set">
      <strong>Set 2:</strong> {{set2(comparator)}}
    </div>
  </div>
</div>
<p *ngIf="linkage.comparators && linkage.comparators.length == 0">
  There are currently no comparators.
</p>
